:root {
  --dark: #222831;
  --medium-dark: #393e46;
  --light: #eeeeee;
  --blue: #00adb5;
}
body {
  background-image: url(./assets/sebastian-dc-F4SxJ7ZtiRM-unsplash.jpg);
  color: var(--light);
  background-size: cover;
}
h1 {
  text-align: center;
  color: var(--light);
  font-weight: 200;
}
main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
button {
  border: none;
  background-color: var(--blue);
  color: var(--medium-dark);
  padding: 0.5% 1%;
  font-weight: 700;
  border-radius: 10px;
}
