:root {
  --dark: #222831;
  --medium-dark: #393e46;
  --light: #eeeeee;
  --blue: #00adb5;
}
body {
  background-color: var(--dark);
  color: var(--light);
}
h1 {
  text-align: center;
  color: var(--light);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
button {
  border: none;
  background-color: var(--blue);
  color: var(--medium-dark);
  padding: 0.5% 1%;
  font-weight: 700;
}
